.bg{
    background-image: url(images/backgroundLocation1Level1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.right{
    z-index: 1;
}
.left{
    transform: scale(-1, 1);
    z-index: 1;
}

