.bg{
    background-image: url(images/backgroundLocation1Level1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 9%; */
    /* height: 9%; */
}

.right{
    z-index: 1;
    /* width: 9%; */
    /* height: 9%; */
}
.left{
    transform: scale(-1, 1);
    z-index: 1;
}
/* p{
    left: 10%;
    top: 70%;
} */